body {
    background: whitesmoke;
}

.wrapper {
    
    
    display: grid;
    /* first, define the column count */
/*        grid-template-columns: 4fr 6fr 2fr;*/
    grid-template-columns: repeat(4, 1fr);
    
/*    2nd, define rows: first number min height, second max height */
    grid-auto-rows: minmax(100px, auto);
    
/*    column gap*/
    grid-column-gap: 10rem;
    
    grid-template-areas: 
        "h h h h h h h h h h h h"
        ". . . m m m m m m . . ."
        "f f f f f f f f f f f f";

}
.header {
/*    create named grid area*/
    grid-area: h;
    background: #ccc;
}
.header h1 {
    text-align: center;
    padding-top: 20px;
}

.main {
    grid-area: m;
    background: #f4f4f4;
}
.footer {
    grid-area: f;
    background: #e4e4e4;
}
p {
    margin-bottom: 1rem;
}


